  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  .hamburger-icon {
    width: 0px;
    height: 10px;
    position: relative;
   /* display: block;
    margin: 0;*/
  }

  .hamburger-icon .line {
    display: block;
    background: #ecf0f1;
    width: 14px;
    height: 2px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  .hamburger-icon .line.line-1 {
    top: 0;
    transform: translateY(4px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(4px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(4px) translateX(0) rotate(-45deg);
  }

  .hamburger-icon .line.line-2 {
    opacity: 0;
    top: 50%;
  }

  .hamburger-icon .line.line-3 {
    top: 100%;
    transform: translateY(-6px) translateX(-9px) rotate(45deg);
    -webkit-transform: translateY(-6px) translateX(-9px) rotate(45deg);
    -moz-transform: translateY(-6px) translateX(-9px) rotate(45deg);
  }

  /*
  #hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
  }
  #hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
  }
  */

  .hamburger-icon.active .line-1 {
    transform: translateY(4px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(4px) translateX(0) rotate(45deg);
    -moz-transform: translateY(4px) translateX(0) rotate(45deg);
  }

  .hamburger-icon.active .line-2 {
    opacity: 0;
  }

  .hamburger-icon.active .line-3 {
    transform: translateY(-6px) translateX(-9px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(-9px) rotate(-45deg);
    -moz-transform: translateY(-6px) translateX(-9px) rotate(-45deg);
  }

  a {
    text-decoration: none;
    color: #95a5a6;
    margin: 0.5em 1.5em;
    display: inline-block;
  }
  
  a:hover, a:focus {
    color: #ecf0f1;
  }
